html,
body {
    height: 100%
}
* {
    font-family: 'VDSThin', sans-serif;
}
.letter * {
    font-family: 'VDSBold', sans-serif;
    margin: 0;
}
.letter {
    position: absolute;
    margin-left: -9%;
}
.small {
    font-size: 1.5vw;
}
.big {
    font-size: 4vw;
    font-family: 'VDSBold', sans-serif;
}
.logo {
    width: 25%;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .small {
        font-size: 1.5vw;
    }
    .big {
        font-size: 4vw;
    }
    .logo {
        width: 25%;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .logo {
        width: 30%;
    }
    .small {
        font-size: 1.2vw;
    }
    .big {
        font-size: 3vw;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .logo {
        width: 35%;
    }
    .small {
        font-size: 1.5vw;
    }
    .big {
        font-size: 5vw;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .logo {
        width: 55%;
    }
    .small {
        font-size: 2vw;
    }
    .big {
        font-size: 7vw;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .logo {
        width: 75%;
    }
    .small {
        font-size: 3vw;
    }
    .big {
        font-size: 9vw;
    }
}
@keyframes finger {
    0% {
        cursor: default;
        -moz-transform: scale(0.05, 0.05) rotate(15deg);
        -ms-transform: scale(0.05, 0.05) rotate(15deg);
        -o-transform: scale(0.05, 0.05) rotate(15deg);
        -webkit-transform: scale(0.05, 0.05) rotate(15deg);
        transform: scale(0.05, 0.05) rotate(15deg);
    }
    75% {
        -moz-transform: scale(1.2, 1.2) rotate(3.75deg);
        -ms-transform: scale(1.2, 1.2) rotate(3.75deg);
        -o-transform: scale(1.2, 1.2) rotate(3.75deg);
        -webkit-transform: scale(1.2, 1.2) rotate(3.75deg);
        transform: scale(1.2, 1.2) rotate(3.75deg);
    }
    100% {
        cursor: pointer;
        -moz-transform: scale(1, 1) rotate(0deg);
        -ms-transform: scale(1, 1) rotate(0deg);
        -o-transform: scale(1, 1) rotate(0deg);
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
}
.finger {
    cursor: pointer;
    animation-name: finger;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.8, .15, .71, .98);
    /* cubic-bezier(0.68, -0.55, 0.265, 1.55); */

    animation-iteration-count: 1;
}
@keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
